/* Wie entscheidet CSS welche Eigenschaft zählt: 
    1. Spezifität - jeder Selektor hat Wertigkeit
        Elementselektor ->  0,0,1
        Klassenselektor ->  0,1,0
        Id-Selektor ->      1,0,0  
    2. Reihenfolge - bei gleicher Spezifität
*/

/* Elementselektor */
h1 {
    color: magenta;
    font-size: 48px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    color: darkgreen;
}

/* Klassenselektor  */
.highlight {
    color: #EFFFC8;
    background-color: #6F1A07;
}

/* Id-Selektoren (nicht so relevant, da wir ID nicht explizit fürs Styling nutzen) */
#special {
    color: rgb(255, 0, 0);
}


body {
    background-color: aquamarine;
}

