/* Styling für den Flex-Container */
.container {
    display: flex;

    justify-content: center;
    gap: 20px;
}

/* Styling für die Kinder */
.box {
    background-color: bisque;
    width: 300px;
    padding: 30px;
}
