.box {
    background-color: bisque;

    width: 400px; /*content wird begrenzt*/
    padding: 40px; /* Innanabstand */ 
    border: 5px solid green;
    margin-top: 50px; /* Außenabstand nach oben */
    

    /* Margin kann auch zum Zentrieren genutzt werden (nur Block-Elemente) */
    margin-left: auto;
    margin-right: auto;
}

h1 {
   background-color: rgb(130, 169, 169); 
   
   /* Text Elemente (inline Elemente) zentrieren */
   text-align: center;
}

.redborder {
    border: 5px solid red;
}